@{
    ViewBag.Title = "Home Page";
}

<main class="min-vh-100 position-relative" style="background-image: url(https://www.mews.com/hs-fs/hubfs/overlook-hotel.jpeg?width=600&name=overlook-hotel.jpeg); background-repeat:no-repeat; background-size:cover">
    <section class="position-absolute bottom-0 end-0 text-end text-light rounded-4 p-4 me-3 mb-3" style="background-color: rgb(239, 86, 81, 0.7)">
        <h1>Benvenuti all'Overlook Hotel</h1>
        <p class="m-0">La nostra missione è garantire calma e serenità a tutti i nostri ospiti</p>
        <p class="m-0">Vi auguriamo un piacevole soggiorno</p>
    </section>
</main>